/*****************************************
Botonera Contacts
*****************************************/
.botonera__tablecontacts{
    width: 80%;
margin-left: 80px;
margin-top: 15px;
}



/*****************************************
Media queries
*****************************************/
@media (max-width: 767.98px) {}