/*****************************************
Balances component
*****************************************/
.corporative-card {
   padding: 67px 0 0; position: relative; box-sizing: border-box;
}

.corporative-card__title{
   margin-bottom: 30px;
}

.corporative-card__return-home{}

.corporative__card-space{
   margin-top: 20px;
}

.corporative__card-input{
   width: 300px;
   height: 40px;
}

.corporative__card-button{
   width: 300px; height: 40px; margin-left:250px; background-color: var(--klu-secondary-color); border-color: var(--klu-secondary-color);
   &:hover {
    background-color: var(--klu-color-yellow-hover); border-color: var(--klu-color-yellow-hover);
   }
}

/*****************************************
card-corporative tables
*****************************************/

.corporative__table{
   margin-top: 40px;
   color: var(--klu-color-grey);
   text-align: center;
}

.corporative__table-title{
   font-size: 18px;
   font-weight: 700;
   color: var(--klu-color-onix);
}

.corporative__table-body{
   margin-top: 42px;
   font-size: 16px;
   font-weight: 500;
}

.corporative__table-body tr{
   height: 60px;
   vertical-align: middle;
}

/* New Styles */
.tabControls {
  padding: 0; margin: 0; position: relative; box-sizing: border-box;
  &__nav {
    & .nav-item {
      margin-right: 8px;
      & button {
        height: 60px;
        & img {
          width: 24px;
        }
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
.tableCorp {
  width: 100%; height: auto; padding: 0; margin: 0 auto 25px; position: relative; box-sizing: border-box;
  & table {
    width: 100%;
    // &.table {
    //   & > :not(:first-child) {
    //     border-top: none; border: none!important;
    //   }
    // }
    &.table-striped>tbody>tr:nth-of-type(odd)>* {
      -webkit-box-shadow: none; box-shadow: none;
    }
    & thead {
      border-bottom: none!important;
      & tr {
        border: none!important;
        & th {
          border: none!important; font-weight: 600; color: var(--klu-dark-gray-1)!important; font-size: 16px;
        }
      }
    }
    & tbody {
      border-radius: none; border: 1px solid var(--klu-color-gray-light);
      & tr {
        border: none!important;
        & th {
          border: none!important; padding: 10px 0.5rem; color: var(--klu-dark-gray-1)!important; font-weight: 400; font-size: 15px;
        }
        & td {
          border: none!important; padding: 10px 0.5rem; color: var(--klu-dark-gray-1)!important; font-weight: 400; font-size: 15px;
          &.accBtns {
            display: flex; justify-content: center; align-items: center; padding: 17px 10px;
            button {
              margin-right: 10px;
            }
            a {
              margin-right: 0;
            }
          }
        }
      }
    }
  }
}
.trashBtn {
  border: 0; width: 24px; height: 24px; padding: 0; margin: 0; display: block; background-color: transparent; text-align: center; line-height: 24px; border: none;
  & img {
    display: inline-block; width: 20px; height: auto; margin: 0; padding: 0; border: 0;
  }
}
.btnOpenInfo {
  border: 0; width: 24px; height: 24px; padding: 0; margin: 0; display: block; background-color: transparent; text-align: center; line-height: 24px; border: none;
  & img {
    display: inline-block; width: 20px; height: auto; margin: 0; padding: 0; border: 0; transform: rotate(0deg); transition: transform 200ms ease-in;
  }
  &--open {
    & img {
      transform: rotate(-180deg);
    }
  }
}
.switchCus {
  width: 50px; height: auto; padding: 0; margin: 0 10px 0 0; position: relative; box-sizing: border-box;
  [type="checkbox"] {
    position: absolute; left: -9999px;  opacity: 0; cursor: pointer; height: 0; width: 0;
    &:checked {
      & + label {
        & span {
          &:last-child {
            background: var(--klu-secondary-color);
            &:before {
              transform: translateX(26px);
            }
            &:after {
              width: 14px; height: 14px; left: 8px;
              // background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/checkmark-switcher.svg); background-size: 14px 14px;
            }
          }
        }
      }
    }
  }
  & label {
    display: flex; align-items: center; padding: 0; margin: 0; cursor: pointer;
  }
  & span {
    &:last-child {
      position: relative; width: 50px; height: 24px; border-radius: 15px; box-shadow: none; background: var(--klu-dark-color); transition: all 0.3s;
      &:before, &:after {
        content: ""; position: absolute;
      }
      &:before {
        left: 2px; top: 2px; width: 20px; height: 20px; background: var(--klu-white); border-radius: 50%; z-index: 1; transition: transform 0.3s;
      }
      &:after {
        top: 50%; right: 8px; width: 12px; height: 12px; transform: translateY(-50%);
        // background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/uncheck-switcher.svg); background-size: 12px 12px;
      }
    }
  }
}
.tData {
  background-color: var(--klu-white)!important; transition: background-color 300ms ease-in-out;
  &--active {
    background-color: rgba(255, 200, 87, 0.14)!important;
  }
  & td, & th {
    background-color: transparent!important;
  }
}
.ctInfoTar {
  width: 100%; height: 0!important; padding: 0; margin: 0; position: relative; box-sizing: border-box; visibility: hidden; opacity: 0; transition: height 300ms ease-in-out, opacity 325ms ease-in, visibility 0s; position: absolute;
  &--open {
    height: auto!important; visibility: visible; opacity: 1; position: relative;
  }
  & > td {
    padding: 20px 30px!important; box-sizing: border-box;
  }
  &__title {
    margin: 0 0 15px; padding: 0; font-weight: 700; font-size: 16px; line-height: 24px; text-align: left;
  }
  &__button {
    background-color: var(--klu-secondary-color)!important; border-color: var(--klu-secondary-color)!important; color: var(--klu-white)!important; font-family: 'Montserrat'; font-weight: 600; font-size: 16px; text-align: center;
    &:hover {
      color: var(--klu-white)!important; background-color: var(--klu-color-yellow-hover)!important; border-color: var(--klu-color-yellow-hover)!important; box-shadow: none;
    }
    &:focus {
      color: var(--klu-white)!important; background-color: var(--klu-secondary-color)!important; border-color: var(--klu-secondary-color)!important;
    }
  }
  &__inpBox {
    width: 100%; height: auto; padding: 0; margin: 0; position: relative; box-sizing: border-box; text-align: left;
    & label {
      text-align: left;
    }
    & .input-group-text {
      color: var(--klu-white); background-color: var(--klu-secondary-color); border: 1px solid var(--klu-secondary-color); border-radius: 4px; padding: 0.657rem 0.75rem;
    }
    & input.form-control {
      background: var(--klu-white)!important; padding: 0.657rem 0.75rem;
    }
  }
}
.modalGeneric {
  margin-top: 60px!important; margin-bottom: 0!important; height: auto!important;
  & .modalHeader {
    width: 100%; height: auto; padding: 1rem 1rem 0; margin: 0 0 1rem; border-top-left-radius: calc(0.3rem - 1px); border-top-right-radius: calc(0.3rem - 1px); position: relative; border: none; box-sizing: border-box;
  }
  &__title {
    margin: 0 0 16px; padding: 0; font-weight: 600; font-size: 24px; text-align: center; color: var(--klu-color-onix); display: block; text-align: center;
  }
  &__desc { 
    font-weight: 500; font-size: 14px; color: var(--klu-color-grey-02); margin: 0; padding: 0; display: block; text-align: center;
  }
  &__box {
    width: 100%; height: auto; padding: 0; margin: 0; padding: 0; box-sizing: border-box; position: relative;
    & label {
      text-align: left;
    }
    & .input-group-text {
      color: var(--klu-white); background-color: var(--klu-secondary-color); border: 1px solid var(--klu-secondary-color); border-radius: 4px; padding: 0.657rem 0.75rem;
    }
    & input.form-control {
      background: var(--klu-white)!important; padding: 0.657rem 0.75rem;
    }
    & p { 
      font-weight: 500; font-size: 14px; text-align: center; color: var(--klu-color-grey-02); margin: 0; padding: 0;
      & a {
        font-weight: 700; text-decoration: none; color: var(--klu-color-grey-02);
      }
    }
  }
  &__btn {
    background-color: var(--klu-white); font-family: 'Montserrat'; font-weight: 500; font-size: 16px; text-align: center; color: #7A7A7A; padding: 0.375rem 30px; transition: all 200ms ease;
    &.cancelBtn {
      border-color: white;
    }
    &.codeBtn {
      background-color: var(--klu-secondary-color); color: var(--klu-white); border-color: var(--klu-secondary-color);
    }
    &:hover {
      &.codeBtn {
        background-color: var(--klu-color-yellow-hover); border-color: var(--klu-color-yellow-hover);
      }
    }
    &:focus {
      box-shadow: none;
    }
  }
  & .modal-body {
    padding: 0 1rem 0; margin: 0 0 1rem; box-sizing: border-box;
  }
}
.solictudTable {
  width: 100%; height: auto; padding: 0; margin: 0 auto 25px; position: relative; box-sizing: border-box;
  &__select {
    width: 100%; height: auto; padding: 0.657rem 0.75rem; border: 1.5px solid var(--klu-color-grey-standart); border-radius: 4px; font-family: 'Montserrat'; font-style: normal; font-weight: 600; font-size: 13px; color: var(--klu-color-gray-light);
    &:focus {
      border-color: var(--klu-color-onix); box-shadow: none!important;
    }
  }
  &__phone {
    width: 100%; height: auto; padding: 0; margin: 0; position: relative; box-sizing: border-box;
    & .input-group-text {
      color: var(--klu-color-gray-light); background-color: var(--klu-white); border: 1px solid var(--klu-color-grey-standart); border-radius: 4px; padding: 0.657rem 0.75rem;
    }
    & input.form-control {
      background: var(--klu-white)!important; padding: 15px 0.75rem; flex: 1 1 auto;
    }
    .flagOpc {
      background:  url('../../images/icons/flags/mexico.svg') white;
      background-repeat: no-repeat !important;
      background-position-x: 10px !important;
      background-position-y: 50% !important;
      padding-left: 38px !important;
      color: var(--klu-color-gray-table);
      width: 78px!important;
      padding-right: 0%;
      float: left;
      display: flex;
      border-radius: 4px 0 0 4px;
      border: 1.5px solid var(--klu-color-grey-standart);
      flex: 0 1 auto;
      &:focus {
        border-color: var(--klu-color-onix); outline: 0; box-shadow: none!important;
      }
    }
    & .bootstrap-tagsinput {
      background-color: var(--klu-white); border: 1.5px solid var(--klu-color-grey-standart); box-shadow: none; display: inline-block; padding: 13px 0.75rem; color: var(--klu-color-gray-light); vertical-align: middle; border-radius: 4px; max-width: 100%; line-height: 22px; cursor: text; width: 100%;
      & .tag {
        margin-right: 2px; background: var(--klu-color-grey-standart); border: 1px solid var(--klu-color-gray-light); border-radius: 4px; color: var(--klu-color-gray-light); font-weight: 600; font-size: 11px; padding: 3px 8px;
      }
      &:focus, &:visited, &:active, &:hover  {
        border-color: var(--klu-color-onix); outline: 0; box-shadow: none!important;
      }
    }
  }
  &__pass {
    width: 100%; height: auto; padding: 0; margin: 0; position: relative; box-sizing: border-box;
    & .input-group-text {
      color: var(--klu-color-gray-light); background-color: var(--klu-white); border: 1px solid var(--klu-color-grey-standart); border-radius: 4px; padding: 0.657rem 0.75rem;
    }
    & input.form-control {
      background: var(--klu-white)!important; padding: 15px 0.75rem; flex: 1 1 auto;
    }
    & .togglePass {
      width: auto; height: auto; display: block; cursor: pointer; background-color: transparent; border: 0; margin: 0; padding: 0; position: absolute; bottom: 13px; right: 10px; z-index: 1; text-align: center;
      & .passEye {
        background-image: url('../../../../../klu-html/assets/klu/img/icons/asignar/eye.svg'); background-position: center; background-repeat: no-repeat; background-size: 24px 24px; width: 24px; height: 24px; display: block;
        &--off-outline {
          background-image: url('../../../../../klu-html/assets/klu/img/icons/asignar/eye-close.svg'); background-position: center; background-repeat: no-repeat; background-size: 24px 24px; width: 24px; height: 24px; display: block;
        }
      }
    }
  }
}
hr.dividerTarjeta {
  margin: 50px 0 0; background-color: var(--klu-color-silver); height: 1.5px;
}
.statusSend {
  width: 100%; height: auto; padding: 0; margin: 0 0 30px; position: relative; box-sizing: border-box;
  &__list {
    display: flex; align-items: flex-start; justify-content: center; margin: 0; padding: 0; list-style-type: none;
  }
  &__items {
    list-style-type: none; margin: 0; padding: 0 50px 0 0; position: relative; width: 160px; height: auto; box-sizing: border-box;
    &:after {
      content: ''; width: 100%; height: 14px; position: absolute; top: 40px; right: -50px; z-index: 1; background-color: var(--klu-color-grey-02);
    }
    &:last-child {
      padding: 0 50px 0 0;
      &:after {
        display: none;
      }
    }
    &.complete {
      & .statusSend__img {
        filter: grayscale(0);
      }
      &:after {
        background-color: var(--klu-secondary-color);
      }
    }
  }
  &__img {
    display: block; width: 100%; max-width: 140px; height: auto; padding: 0; margin: 0 auto 35px; border: 0; z-index: 2; position: relative; filter: grayscale(1); transition: all 250ms ease-in;
  }
  &__desc {
    display: block; width: 100%; height: auto; padding: 0; margin: 0; position: relative; box-sizing: border-box; z-index: 2; position: relative;
    & h3 {
      margin: 0 0 10px; padding: 0; font-family: 'Montserrat'; font-weight: 700; font-size: 17px; text-align: center; color: #2F2F2F;
    }
    & p {
      margin: 0; padding: 0; font-family: 'Montserrat'; font-weight: 600; font-size: 10px; text-align: center; color: #2F2F2F;
    }
  }
}

/*****************************************
Media queries
*****************************************/
@media (max-width: 767.98px) {
    
}