.history__table-body{
    border: none !important;
    tr,td,th{
        border-color: var(--klu-color-silver-light-03) !important;
        border-style: none !important;
        border-width: 0;
        color: var(--klu-dark-gray-1);
        small{
            width: 150px;
            min-width: 150px;
            max-width: 150px;
        }
        small.history__label-estatus__proceso{
            color: var(--klu-secondary-color);   
            width: 150px;
            min-width: 150px;
            max-width: 150px;
        }
        img.history__icon{
            margin-left: 6%;
        }
      
    }
    th{
        a.btn-detalle{
            color: var(--klu-dark-gray-1);
            text-decoration: none;
        }
    }

    td:is(:last-child){
        display: flex;
        justify-content: space-evenly;
            width: 195px;
            min-width: 195px;
            max-width: 195px;
        
        img.history__label-estatus__finalizado{
            font-weight: 900;
            width: 195px;
            min-width: 195px;
            max-width: 195px;
        }
    }
    thead{
        border-color: inherit;
        border-style: solid;
        border-width: 0;
        color: var(--klu-dark-gray-1);
    }
    table{
        border: none !important;
    }
}


.tab-crear-dispersion{
    h4.botonera__title{
        span{
            font-weight: lighter;
            color: var(--klu-dark-gray-1);
        }
    }

    
.file-drop-area {
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    padding: 25px;
    //border: dotted var(--klu-secondary-color) 2px;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='2' ry='2' stroke='%23FFC857FF' stroke-width='4' stroke-dasharray='8%2c 15' stroke-dashoffset='32' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 25px;
    background-color: rgba(255, 200, 87, 0.1);
    border-radius: 5px;
    transition: 0.2s;
    img{
        border-radius: 50%;
        width: 6% !important;
        background: var(--klu-secondary-color);
        inline-size: auto;
        display: block;
        width: max-content;
        margin: 5% 0% 3% 48%;
    }
    span{
        display: block;
        width: 100%;
        text-align: center;
        color: var( --klu-dark-gray-0);
        font-size: 0.75em;
        &.choose-file-button{
            color: var(--klu-secondary-color);
            font-weight: 600;
            font-size: 1em;
        }
    }
   
  }


 .file-drop-area.selectedFile{
     background-image: none !important;
     background-color: var(--klu-color-grey-standart);
     border: none !important;
     img.new-split-white{
         display: none;
     }
     i.iconFile{
         display: block;
     }
 }
  .dispersion__parrafo, .dispersion__parrafo--dos{
    color: var(--klu-dark-gray-1);
    font-size: 0.85em;
    margin-bottom: 0%;
    margin-top: 20px ;
    margin-left: 0px !important;
  }

  .dispersion__parrafo--dos{
      margin-top: 5px !important;
  }

  
  .file-input {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    opacity: 0;
    
  }
}


.dispersion__rectangle{
    background-color: var(--klu-color-grey-standart);
    border-radius: 3px;
    min-height: 40px;
    padding: 1% 0;
    img{
        display: flex;
        float: left;
        margin: 0% 1% 2% 2%;
    }
    .dispersion__rectangle--text{
        padding-top: 0.5%;
    }
}

.botonera__fuente-grande{
    span.head-rev{
        font-weight: 600;
        color: black;
        @include fluid-type(0.75rem, 1.2rem, 320px, 1200px);
        display: block;
    }
    small{
        @include fluid-type(0.5rem, 1rem, 320px, 1200px);
        display: block;
    }
    small.note-error{
        color: red;
        @include fluid-type(0.5rem, 0.75rem, 320px, 1200px);
    }

    
}

.table.dispersion__table{
    tr.resumen-disp{
        border-top: 2px solid var(--klu-color-gray-table);
        .botonera__fuente-grande, .dispersion__fuente--resultado{
            margin-top: 4%;
            display: flex;
            font-weight: 600;
        }

    }
    td{
        border: none !important;
    }
    td:is(:last-child){
        padding: .5rem .5rem;
        background-color: var(--bs-table-bg);
        border-bottom-width: 1px;
        box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
        h5{
            justify-content: end;
        }
        
    }
}


.table__download{
    margin-top: 3%;
    td{
        border-bottom: 2px solid var(--klu-color-silver) ;
        a{
            text-decoration: none;
            color: var(--klu-color-onix);
            font-weight: 500;
            @include fluid-type(0.5rem, 14px, 320px, 1200px);

        }
    }
}

.btn-rev-disp{
    button{
        width: 200px;
    }
    label{
        display: flex;
        float: left;
        width: 100px;
        margin-top: 1%;
    }
}


