.dropbtn {
    color: gray;
     padding: 16px;
     font-size: 16px;
     border: none;
     cursor: pointer;
     background: white;
     width: 200px;
     border: 1px gray solid;
     border-radius: 5px;
   }
   
   .dropbtn:hover, .dropbtn:focus {
     
   }
   
   #myInput {
     box-sizing: border-box;
     background-image: url('searchicon.png');
     background-position: 14px 12px;
     background-repeat: no-repeat;
     font-size: 16px;
     padding: 14px 20px 12px 45px;
     border: none;
     border-bottom: 1px solid #ddd;
   }
   
   #myInput:focus {outline: 3px solid #ddd;}
   
   .dropdown {
     position: relative;
     display: inline-block;
   }
   
   .dropdown-content {
     display: none;
     position: absolute;
     background-color: var(  --klu-color-silver-light-03);
     min-width: 95%;
     overflow: auto;
     border-radius: 5px;
     z-index: 1;
     -webkit-box-shadow: 1px 0px 14px -7px rgba(0,0,0,0.4);
     -moz-box-shadow: 1px 0px 14px -7px rgba(0,0,0,0.4);
     box-shadow: 1px 0px 14px -7px rgba(0,0,0,0.4);
     max-width: 95% !important;
    width: 95%;
        input{
            border-radius: 50px;
            height: 35px;
            margin: 3% 5%;
            width: 90%;
            border: 1px solid var(--klu-color-gray-table) !important;
            color: var(--klu-color-gray-table) !important;
            padding-left: 6%;
            background:  url('../../images/icons/envios/buscar.png')!important;
            background-repeat: no-repeat !important;
            background-position-x: 95% !important;
            background-position-y: 90% !important;
        }
   }
   
   .dropdown-content a {
     color: black;
     padding: 12px 16px;
     text-decoration: none;
     display: block;
   }
   
   .dropdown a{
     color: var(--klu-dark-gray-1);
     font-family: "Montserrat", "sans-serif";
     @include fluid-type(0.5rem, 16px, 320px, 1200px);
      &:hover {
        color: var(--klu-color-yellow);
        cursor: pointer;
      }
    }
   
   .show {display: block;}

    .contentTelEnvios{
      margin: 0% !important;
      #enviosCodePais {
        background:  url('../../images/icons/flags/mexico.svg') white ;
        background-repeat: no-repeat !important;
        background-position-x: 10px !important;
        background-position-y: 50% !important;
        padding-left: 38px !important;
        color: var(--klu-color-gray-table);
        width: 78px!important;
        padding-right: 0%;
        float: left;
        display: flex;
        border-radius: 4px 0 0 4px;
        border: 1.5px solid var(--klu-color-grey-standart);
        &:focus {
          border-color: var(--klu-color-onix); outline: 0; box-shadow: none!important;
        }
     }
  
     .inputTelEnvios{
        margin: 0% !important;
        width: 60%;
        border-radius: 0 4px 4px 0 ;
        border: 1.5px solid var(--klu-color-grey-standart);
        border-left: none;
        background: white !important;
     }

  }

  #k-pills-envio{
    input{
      background-color: white !important;
    }
  }

// checkbox Custom
.checkGen {
  width: 100%; height: auto; padding: 0; margin: 0; position: relative; box-sizing: border-box;
  &__inp {
    position: absolute; opacity: 0; cursor: pointer; height: 0; width: 0;
    & ~ label {
      box-sizing: border-box; position: relative; cursor: pointer; margin: 0; padding: 0; color: var(--klu-color-gray-light); font-family: 'Montserrat'; font-weight: 600; font-size: 13px;
    }
    & ~ label:before {
      content: ''; margin-right: 10px; display: inline-block; vertical-align: middle; width: 18px; height: 18px; background: var(--klu-white); border: 1.5px solid var(--klu-color-gray-light); border-radius: 2px; @include box-sizing(border-box); @include transition(all 0.25s ease); background-image: url(../../images/icons/envios/checkbox-ready.svg); background-repeat: no-repeat; background-position: center center; background-size: 12px;
    }
    &:hover ~ label:before {
      background-color: var(--klu-white); border-color: rgba(32, 61, 92, 0.50);
    }
    &:focus ~ label:before {
      background-color: var(--klu-white); border-color: var(--klu-color-gray-light);
    }
    &:checked ~ label {
      color: var(--klu-primary-color);
    }
    &:checked ~ label:before {
      background-color: var(--klu-primary-color); border-color: var(--klu-primary-color);
    }
    // &:checked ~ label:after {
    //   content: ''; position: absolute; left: 4px; top: 4px; background: $rojo; width: 12px; height: 12px;
    // }
  }
}